/* Soluzione qui */
@media screen and (min-width:768px){
    #topbar{
    justify-content: flex-start;
    }

    .container{
        padding: 40px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-name{
        font-size: 25px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li{
        padding: 15px;
        width: 30%;
    }

    .social-networks button{
	padding: 10px 40px;
    }

    .ads{
        display: block;
    }

    .clearfix img{
        float: left;
        margin: 30px;
    }

    .recipe-video{
        margin-bottom: 30px;
    }

    .recipe-video img{
        width: 100%;
    }   

}






/* DESKTOP */

@media screen and (min-width:992px){
    .recipe-name{
        font-size: 45px;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-video{
        width: 65%;
        height: 100%;
    }

    .recipe-video img{
        width: 100%;
    }

    .recipe-info{
        width: 35%;
    }

    .quick-notes{
        margin-top: 0;
    }

    .quick-notes li{
        width: 100%;
        padding: 0px;
    }

    .social-networks .label{
        display: inline-block;
    }

    .social-networks button{
        padding: 10px 30px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }
}